{% set masakari = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['python-pip', 'git'],
        'cluster': {
            'pkgs': ['pacemaker', 'corosync', 'fence-agents', 'ipmitool'],
        },
        'client': {},
        'server': { 'services': ['masakari-api', 'masakari-engine'] },
        'monitor': {
            'pkgs': ['pkg-config', 'libvirt-dev'],
            'services': ['masakari-hostmonitor', 'masakari-instancemonitor', 'masakari-processmonitor'],
        },
        'version': '5.0.1.dev2'
    },
}, grain='os_family', merge=salt['pillar.get']('masakari')) %}
